.articles-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
}

@media (min-width: 48em) and (max-width: 80em) {
	.articles-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 80em) {
	.articles-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

/* TODO: Fix flex spacing and align titles */
article {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid grey;
	border-radius: 1em;
	padding: 1em;
}

article p,
article time {
	flex-basis: 49%;
}

article h2 {
	align-self: stretch;
	flex-grow: 1;
}

article footer {
	flex-basis: 100%;
	align-self: flex-end;
}

.article-topic-link {
	display: inline-block;
	background-color: gainsboro;
	border-radius: 1em;
	padding: 0.5em 1em;
}

.single-article {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 4em;
	max-width: 840px;
	margin: 0 auto;
}

@media (min-width: 48em) {
	.single-article {
		grid-template-columns: 3fr 1fr;
	}
}

header ul {
	list-style: none;
}

header ul li {
	display: inline-block;
	margin-left: 1em;
}

@media (min-width: 48em) {
	header {
		display: grid;
		grid-template-columns: 1fr 3fr;
	}
}